In [1]:
import pandas as pd
import numpy as np

In [38]:
## deal with dates

#dateM_str = dateM.dt.year.astype(int).astype(str) + \
#             "M" + dateM.dt.month.astype(int).astype(str)

In [39]:
InfCPICMRT.index = pd.DatetimeIndex(dateM_cpic,freq='infer')
InfCPIMRT.index = pd.DatetimeIndex(dateM_cpi,freq='infer')

In [48]:
def GetRealTimeData(matrix):
    periods = len(matrix)
    real_time = np.zeros(periods)
    for i in range(periods):
        real_time[i] = matrix.iloc[i,i+1]
    return real_time

In [49]:
## generate real-time series 
matrix_cpic = InfCPICMRT.copy().drop(columns=['date','year','month'])
matrix_cpi = InfCPIMRT.copy().drop(columns=['date','year','month'])

real_time_cpic = pd.Series(GetRealTimeData(matrix_cpic) )
real_time_cpi =  pd.Series(GetRealTimeData(matrix_cpi) ) 
real_time_cpic.index =  pd.DatetimeIndex(dateM_cpic,freq='infer')
real_time_cpi.index = pd.DatetimeIndex(dateM_cpi,freq='infer')

In [55]:
real_time =pd.concat([real_time_cpic,real_time_cpi], join='inner', axis=1)
real_time.columns=['RTCPI','RTCPICore']

In [53]:
real_time

              RTCPI  RTCPICore
date
1998-11-01  175.100    164.300
1998-12-01  175.600    164.500
1999-01-01  175.700    164.600
1999-02-01  175.800    164.700
1999-03-01  176.000    165.000
1999-04-01  176.700    166.200
1999-05-01  176.900    166.200
1999-06-01  177.000    166.200
1999-07-01  177.300    166.700
1999-08-01  177.500    167.200
1999-09-01  178.100    167.900
1999-10-01  178.400    168.200
1999-11-01  178.800    168.400
1999-12-01  179.000    168.800
2000-01-01  179.200    169.100
2000-02-01  179.500    170.000
2000-03-01  180.300    171.200
2000-04-01  180.600    171.200
2000-05-01  180.900    171.300
2000-06-01  181.200    172.300
2000-07-01  181.600    172.700
2000-08-01  182.000    172.600
2000-09-01  182.600    173.600
2000-10-01  182.900    173.900
2000-11-01  183.400    174.200
2000-12-01  183.500    174.500
2001-01-01  184.100    175.700
2001-02-01  184.700    176.200
2001-03-01  185.100    176.300
2001-04-01  185.500    176.800
...             ...        ...
2017-02-01  251.299    244.456
2017-03-01  250.993    243.752
2017-04-01  251.172    244.158
2017-05-01  251.329    243.846
2017-06-01  251.627    243.790
2017-07-01  251.914    244.048
2017-08-01  252.540    245.030
2017-09-01  252.860    246.373
2017-10-01  253.428    246.639
2017-11-01  253.724    247.592
2017-12-01  254.426    247.963
2018-01-01  255.287    249.245
2018-02-01  255.751    249.619
2018-03-01  256.200    249.462
2018-04-01  256.450    250.013
2018-05-01  256.889    250.535
2018-06-01  257.305    250.857
2018-07-01  257.930    251.286
2018-08-01  258.141    251.846
2018-09-01  258.441    251.994
2018-10-01  258.939    252.827
2018-11-01  259.481    252.876
2018-12-01  260.027    252.733
2019-01-01  260.701    252.673
2019-02-01  260.989    253.113
2019-03-01  261.374    254.148
2019-04-01  261.735    254.958
2019-05-01  262.032    255.155
2019-06-01  262.803    255.305
2019-07-01  263.569    256.161

[249 rows x 2 columns]